body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

#WEBGL-output {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.menu {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
}

.menuButton {
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    background-color: #167ac6;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menuButton:hover {
    background-color: #0964b0;
}

.menuButton:active {
    background-color: #0054c0;
}

#saveButton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    display: none;
}