body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

#WEBGL-output {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.menu {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
}

#mainMenu {
    width: 50%;
    max-width: 400px;
    height: 70%;
    max-height: 500px;
}

.menuButton {
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    background-color: #167ac6;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menuButton:hover {
    background-color: #0964b0;
}

.menuButton:active {
    background-color: #0054c0;
}

#createNew {
    position: relative;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 50px;
    line-height: 50px;
}

#loadExisting {
    position: relative;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 50px;
    line-height: 50px;
}

#saveButton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    display: none;
}

#mapList {
    display: none;
    font-family: Georgia, Times, serif;
    font-size: 15px;
    width: 60%;
    height: 200px;
    position: relative;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #0054c0;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
}

.listItem {
    padding-top: 5px;
    padding-bottom: 5px;
}

.listItem:hover {
    background-color: #0964b0;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

#saveMenu {
    width: 50%;
    max-width: 400px;
    height: 30%;
    max-height: 500px;
    text-align: center;
    display: none;
}

#mapNameTextField {
    position: relative;
    width: 70%;
    height: 30px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
}

#finalSaveButton {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 50px;
    line-height: 50px;
}